# User Stories

- Как {роль}, я хочу {цель}, чтобы {ценность}.
- Как {роль}, я хочу {цель}, чтобы {ценность}.
- Как {роль}, я хочу {цель}, чтобы {ценность}.
- Как {роль}, я хочу {цель}, чтобы {ценность}.

